In [1]:
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df_train=pd.read_excel("Data_Train.xlsx")
df_test=pd.read_excel("Data_Test.xlsx")

In [7]:
df_train.isnull().sum()

Name                  0
Location              0
Year                  0
Kilometers_Driven     0
Fuel_Type             0
Transmission          0
Owner_Type            0
Mileage               2
Engine               36
Power                36
Seats                42
Price                 0
dtype: int64

In [8]:
df_test.isnull().sum()

Name                  0
Location              0
Year                  0
Kilometers_Driven     0
Fuel_Type             0
Transmission          0
Owner_Type            0
Mileage               0
Engine               10
Power                10
Seats                11
dtype: int64

In [9]:
df_train=df_train.dropna(subset=['Engine','Mileage','Seats'],how='any')
df_test=df_test.dropna(subset=['Engine','Seats'],how='any')

In [11]:
n = list(df_train.Name)
for i in range(len(n)):
    n[i] = n[i].split(' ',1)[0]
df_train.Name = n

n1 = list(df_test.Name)
for i in range(len(n1)):
    n1[i] = n1[i].split(' ',1)[0]
df_test.Name = n1

In [12]:
df_train.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,Maruti,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,1.75
1,Hyundai,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,12.50
2,Honda,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,4.50
3,Maruti,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,6.00
4,Audi,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,17.74

In [13]:
df_test.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats
0,Maruti,Delhi,2014,40929,CNG,Manual,First,32.26 km/kg,998 CC,58.2 bhp,4.0
1,Maruti,Coimbatore,2013,54493,Petrol,Manual,Second,24.7 kmpl,796 CC,47.3 bhp,5.0
2,Toyota,Mumbai,2017,34000,Diesel,Manual,First,13.68 kmpl,2393 CC,147.8 bhp,7.0
3,Toyota,Hyderabad,2012,139000,Diesel,Manual,First,23.59 kmpl,1364 CC,null bhp,5.0
4,Hyundai,Mumbai,2014,29000,Petrol,Manual,First,18.5 kmpl,1197 CC,82.85 bhp,5.0

In [14]:
m = list(df_train.Mileage)
e = list(df_train.Engine)
p = list(df_train.Power)
for i in range(len(n)):
    m[i] = m[i].split(' ',1)[0]
    e[i] = e[i].split(' ',1)[0]
    p[i] = p[i].split(' ',1)[0]
df_train.Mileage = m
df_train.Engine = e
df_train.Power = p

m1 = list(df_test.Mileage)
e1 = list(df_test.Engine)
p1 = list(df_test.Power)
for i in range(len(n1)):
    m1[i] = m1[i].split(' ',1)[0]
    e1[i] = e1[i].split(' ',1)[0]
    p1[i] = p1[i].split(' ',1)[0]
df_test.Mileage = m1
df_test.Engine = e1
df_test.Power = p1

In [18]:
from sklearn.preprocessing import LabelEncoder
col =['Name','Location','Fuel_Type','Transmission','Owner_Type']  
labelEncoder = LabelEncoder() 
for i in col: 
    df_train[i] = labelEncoder.fit_transform(df_train[i]) 

from sklearn import preprocessing
col1 =['Name','Location','Fuel_Type','Transmission','Owner_Type']  
labelEncoder = preprocessing.LabelEncoder()  
for i in col1: 
    df_test[i] = labelEncoder.fit_transform(df_test[i])

In [19]:
df_train.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,18,9,2010,72000,0,1,0,26.6,998,58.16,5.0,1.75
1,10,10,2015,41000,1,1,0,19.67,1582,126.2,5.0,12.50
2,9,2,2011,46000,3,1,0,18.2,1199,88.7,5.0,4.50
3,18,2,2012,87000,1,1,0,20.77,1248,88.76,7.0,6.00
4,1,3,2013,40670,1,0,2,15.2,1968,140.8,5.0,17.74

In [20]:
df_test.head()

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats
0,18,4,2014,40929,0,1,0,32.26,998,58.2,4.0
1,18,3,2013,54493,3,1,2,24.7,796,47.3,5.0
2,28,9,2017,34000,1,1,0,13.68,2393,147.8,7.0
3,28,5,2012,139000,1,1,0,23.59,1364,null,5.0
4,10,9,2014,29000,3,1,0,18.5,1197,82.85,5.0

In [24]:
df_train['Mileage'] = pd.to_numeric(df_train['Mileage'])
df_train['Engine'] = pd.to_numeric(df_train['Engine'])
df_train['Power'] = pd.to_numeric(df_train['Power'],errors='coerce')

df_test['Mileage'] = pd.to_numeric(df_test['Mileage'])
df_test['Engine'] = pd.to_numeric(df_test['Engine'])
df_test['Power'] = pd.to_numeric(df_test['Power'],errors='coerce')

In [25]:
df_train=df_train.dropna(subset=['Power'],how='any')
df_test=df_test.dropna(subset=['Power'],how='any')

In [125]:
X = df_train.drop("Price",axis=1)
y = df_train["Price"]
from sklearn.preprocessing import PolynomialFeatures
poly = PolynomialFeatures(degree=2)
x_poly = poly.fit_transform(X)

In [126]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x_poly, y, test_size=0.45, random_state=42)

In [127]:
from sklearn.linear_model import LinearRegression

reg = LinearRegression()
reg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [128]:
pred = reg.predict(X_test)

In [129]:
from sklearn.metrics import explained_variance_score
print(explained_variance_score(pred,y_test))

0.8341490125124787

In [133]:
from sklearn.preprocessing import PolynomialFeatures
poly = PolynomialFeatures(degree=2)
x = poly.fit_transform(df_test)
new_pred = reg.predict(x)

In [134]:
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(pred,y_test))  
print('Mean Squared Error:', metrics.mean_squared_error(pred,y_test))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(pred,y_test)))

Mean Absolute Error: 2.3232116392712654
Mean Squared Error: 17.53229609390743
Root Mean Squared Error: 4.187158474897676

In [135]:
from sklearn.metrics import r2_score
r2_score(pred,y_test)

0.8341115041919358

In [137]:
price = pd.DataFrame(new_pred, columns = ['Price'])
price.to_csv('Price.csv', index=False)